<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <link rel=”stylesheet” href="{% static 'css/index.css' %}">
  <title>Edit Tasca</title>
</head>
<body>
    <form id="edit" action="edit" method="post">
        {% csrf_token %}
        <table>
          {{ form }}
        </table>
        <br>
        <input type="hidden" name="before_name" value={{before_name}}>
        <input type="submit" value="Edit Tasca">
        <input type="reset" value="Cancel">
    </form>
</body>
</html>