<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <link rel=”stylesheet” href="{% static 'css/index.css' %}">
  <title>Tascas List</title>
</head>
<body>
  <table border="1" style="width:75%" >
    <tr></tr>
      <th>Tascas!</th>
    </tr>
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Rating</td>
      <td>Actions</td>
    </tr>
    {% for tasca in tascas %}
      <tr>
        <td>{{ tasca.name }}</td>
        <td>{{ tasca.address }}</td>
        <td>{{ tasca.rating }}</td>
        <td>
          <form action="edit" method="get">
            {% csrf_token %}
            <input type="hidden" name="before_name" value={{ tasca.name }}>
            <button type="submit" id="edit">Edit</button>
          </form>
          <form action="delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value={{ tasca.name }}>
            <button type="submit" id="delete">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a href="/home">
    <input type="button" id= "refresh" value="Refresh">
  </a>
  <a href="">
    <input type="button" id= "create" value="Create">
  </a>
  <form id="new" action="new" method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <br>
    <input type="submit" value="Add Tasca">
    <input type="reset" value="Cancel">
  </form>
</body>
</html>