<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load crispy_forms_tags %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <title>Tasca Details</title>
</head>
<body>
    <div style="float:left; width: 50%;">
        <table class="table table-bordered mb-0" style="width:100%;">
            <thead class="thead-dark" style="width: 100%;">
                <th class="border-bottom light" colspan="2">Tasca Information</th>
            </thead>
            <tbody class="tbody-dark">
                <tr>
                    <th class="border-right border-bottom light">Name</th>
                    <td class="border-right border-bottom light">{{ tasca.name }}</td>
                </tr>
                <tr>
                    <th class="border-right border-bottom light">Address</th>
                    <td class="border-right border-bottom light">{{ tasca.address }}</td>
                </tr>
                <tr>
                    <th class="border-right border-bottom light">Rating</th>
                    <td class="border-right border-bottom light">{{ tasca.rating }}</td>
                </tr>
                {%if tasca.map != "none"%}
                <tr>
                    <th>Map</th>
                    <td id="map">
                        <iframe src="{{tasca.map}}" width="100%" height="250px" style="border:0;" loading="lazy"></iframe>
                    </td>
                </tr>
                {%endif%}
            </tbody>
        </table>
        <br>
        <div class="btn-group">
            <div class="col-md-6">
                <form action="edit" method="get">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{tasca.id}}>
                    <input type="submit" class="btn btn-primary" value="Edit Tasca">
                </form>  
            </div>
            <div class="col-md-6">
                <form action="/home/" method="get">
                    <input type="submit" class="btn btn-danger" value="Back">
                </form>  
            </div>
        </div>
    </div>
    
</body>
</html>