<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load crispy_forms_tags %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Edit Tasca</title>
</head>
<body>
  <div id="edit">
    <table class="table table-striped mb-0">
      <thead class="thead-dark">
        <tr>
          <th>Edit Tasca Information</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <form id="new" action="edit" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input type="hidden" name="id" value={{id}}>
            <input type="submit" class="btn btn-primary" value="Edit Tasca">
            <form action="/home/" method="get">
              <input type="submit" class="btn btn-danger" value="Back">
            </form>
          </form>
        </td>
      </tbody>
    </table>
  </div>
</body>
</html>