<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load crispy_forms_tags %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Tascas List</title>
</head>
<body>
  <div class="" style="height: 100%;">
    <table style="height: 40%;display:block;overflow-y:auto;overflow-x:hidden;" class="table table-striped mb-0">
      <thead class="thead-dark">
        {%if erro is not None%}
        <tr>
          <th style="background-color: red;" colspan="4">{{erro}}</th>
        </tr>
        {% endif %}
        <tr>
          <th class="border-bottom light align-middle" colspan="4">
            <div>
              <form action="/home/" method="post">
                {% csrf_token %}
                <div class="wrapper" style="border: none;">
                  <input type="search" name="query" placeholder="Search for name or address..." class="form-control-lg">
                  <select style="padding-top: 5px;" class="form-control-lg" name="query_type">
                    <option value="1">Name</option>
                    <option value="2">Address</option>
                  </select>
                  <input type="hidden"; name="order" value="{{order}}">
                  <input style="width: 75px;margin-left: 10px;margin-right: 10px; height: 50px;" type="submit" class="btn btn-primary" value="Search"></button>
                  <input style="width: 75px; height: 50px;" type="submit" class="btn btn-danger" value="Reset"></button>
                </div>
              </form>
            </div>
          </th>
        </tr>
        <tr>
          <th class="border-right border-bottom light align-middle" width="20%">Name</th>
          <th class="border-right border-bottom light align-middle" width="35%">Address</th>
          <th class="clickable border-right border-bottom light align-middle" onclick="window.location='/home/?order={{order}}y'" 
          width="4%">Rating</th>
          <th class="border-bottom light align-middle" width="10.3%">Actions</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        {% for tasca in tascas %}
          <tr class="clickable" onclick="window.location='/home/tasca?id={{tasca.id}}'">
            <td class="border-right border-bottom light align-middle" width="28.7%">{{ tasca.name }}</td>
            <td class="border-right border-bottom light align-middle" width="50%">{{ tasca.address }}</td>
            <td class="clickable border-right border-bottom light align-middle" 
            width="6.8%">{{ tasca.rating }}</td>
            <td class="border-right border-bottom light align-middle">
              <div class="btn-group">
                <div class="col-md-4">
                  <form action="edit" method="get">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ tasca.id }}>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </form>      
                </div>
                <div class="col-md-4">
                  <form action="delete" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ tasca.id }}>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <table class="table table-striped mb-0" style="width: 100%;height: 40%; background-color: lightgray;">
      <thead class="thead-dark">
        <tr>
          <th>Add new tasca</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <form id="new" action="new" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input style="position: inline" type="submit" class="btn btn-primary" value="Add Tasca">
            <input type="reset" class="btn btn-danger" value="Reset">
          </form>
        </td>
      </tbody>
    </table>
  </div>
</body>
</html>